<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Messages</h1>
    <ul>
        <% messages.forEach((message, index) => { %>
            <li>
                <b><%= message.user %></b>
                <p><%= message.text %></p>
                <small><%= message.added %></small>
            </li>
            <a href="/message/<%= index %>">Open</a>
        <% }); %>
    </ul>
    <a href="/new">Add new message</a>
</body>
</html>